body {
  font-family: sans-serif;
  font-size: 1rem;
}

.logo {
  height: 36px;
}

.search {
  float: right;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.icons {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.icon {
  width: 120px;
  padding: 30px;
  text-align: center;
}
